<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.florit.android.speedruns.gameslist">

    <application>
        <activity
            android:name="es.florit.android.gameslist.GamesListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
        </activity>
    </application>

</manifest>